@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-mainBG: hsl(217, 54%, 11%);
$Very-dark-blue-cardBG: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: $Very-dark-blue-mainBG;
    max-width: 1440px;
    font-size: 18px;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.card1 {
    background-color: hsl(217, 54%, 11.5%);
    border-radius: 3rem;
    padding: 2rem;
    margin: 4rem 4rem 1rem 4rem;
}

.card2 {
    background-color: hsl(217, 54%, 10%);
    border-radius: 3rem;
    padding: 0 1rem 2.5rem 1rem;

}

.card3 {
    background-color: $Very-dark-blue-cardBG;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20rem;
    border-radius: 1rem;
    padding: 1.5rem;

    .top {
        display: grid;
        place-items: center;
        border-radius: .5rem;
        overflow: hidden;
        position: relative;

        .icon-view {
            display: none;
            height: 2rem;
            width: auto;
            position: absolute;
        }

        img {
            display: block;
            height: 17rem;
            width: 100%;
        }

        &:hover {
            background-color: $Cyan;
            cursor: pointer;

            .icon-view {
                display: block;
                opacity: 100%;
            }

            img {
                opacity: 50%;
            }
        }
    }

    h1 {
        font-size: 1.2rem;
        font-weight: 600;
        color: $White;

        &:hover {
            color: $Cyan;
            cursor: pointer;
        }
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        color: $Soft-blue;
        width: 18rem;
    }

    .time-left {
        display: flex;
        justify-content: space-between;
        font-size: .9rem;

        .period {
            display: flex;
            align-items: center;

            img {
                margin-right: .3rem;
            }
        }

        .etherum {
            color: $Cyan;
        }

        .clock {
            color: $Soft-blue;
        }
    }


    .bottom {
        display: flex;
        align-items: center;
        border-top: 1px solid $Very-dark-blue-line;
        padding-top: 1rem;

        img {
            height: 2rem;
            width: auto;
            border: 1px solid $White;
            border-radius: 50rem;
            margin-right: 1rem;
        }

        p {
            color: $Soft-blue;
            font-size: .9rem;
            font-weight: 400;

            span {
                color: $White;

                &:hover {
                    color: $Cyan;
                    cursor: pointer;
                }
            }
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: $Soft-blue;
    padding: 1rem;

    a {
        color: $Soft-blue;

        &:hover {
            color: $Cyan;
        }
    }
}

@media (max-width:768px) {
    .card1 {
        padding: 0;
        margin: 4rem 0 1rem 0;
    }

    .card2 {
        border-radius: 2rem;
        padding: 1.5rem;

    }
}