@media (max-width:768px) {
    .leftbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;

        .logo {
            margin: 2rem;
            align-self: flex-start;
        }

        h1 {
            text-align: center;
            width: auto;
            font-size: 2.5rem;
            letter-spacing: .5rem;
            margin: 2rem;
        }

        p {
            text-align: center;
            width: auto;
            font-size: .9rem;
            margin: 0 2rem;
        }

        form {
            margin: 2rem 0;

            input {
                height: 2.5rem;
                width: 16rem;
            }

            button {
                height: 2.5rem;
                left: 12rem;
            }

            .erorricon {
                left: 10rem;
                top: .5rem;
            }

            .errortext {
                padding-left: 0;
            }
        }
    }

    .bg-mobile {
        display: block;

        img {
            display: block;
            height: 18rem;
            width: 100%;
        }
    }

    .rightbox {
        display: none;
    }
}