@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;1,900&display=swap");

:root {
  --Paleblue: hsl(225, 100%, 94%);
  --Brighblue: hsl(245, 75%, 52%);
  --Verypaleblue: hsl(225, 100%, 98%);
  --Desaturatedblue: hsl(224, 23%, 55%);
  --Darkblue: hsl(223, 47%, 23%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  max-width: 1440px;
  padding: 4rem 0;
  margin: 0 auto;
  background-color: var(--Paleblue);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  background-color: white;
  border-radius: 1rem;
  display: grid;
}
.container img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.order {
  justify-self: center;
  text-align: center;
  max-width: 20rem;
  margin-top: 2rem;
}
.order h2 {
  margin-bottom: 1rem;
  color: var(--Darkblue);
  font-weight: 700;
}
.order p {
  color: var(--Desaturatedblue);
}

.plan {
  display: flex;
  align-items: center;
  background-color: var(--Verypaleblue);
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
}
.plan img {
  padding-right: 1rem;
}
.plandetail h4 {
  color: var(--Darkblue);
}
.plandetail p {
  color: var(--Desaturatedblue);
}

.change {
  margin-left: auto;
  color: var(--Brighblue);
}
.change:hover {
  text-decoration: none;
  color: var(--Desaturatedblue);
}

.payment {
  background-color: var(--Brighblue);
  color: var(--Verypaleblue);
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0.1rem 0.5rem 1rem #a6a2c9;
}
.payment:hover {
  background-color: var(--Desaturatedblue);
}

.cancel {
  margin: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  color: var(--Desaturatedblue);
}
.cancel:hover {
  color: var(--Darkblue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  color: var(--Desaturatedblue);
}

@media (max-width: 768px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
    padding: 4rem 2rem;
  }
  .container img {
    height: auto;
    width: 100%;
  }
  .order {
    max-width: 17rem;
  }
  .plan {
    font-size: 0.9rem;
  }
  .plan img {
    height: auto;
    width: 3.5rem;
  }
}
