:root {
  --VeryDarkBlue: hsl(243, 87%, 12%);
  --DesaturatedBlue: hsl(238, 22%, 44%);
  --BrightBlue: hsl(224, 93%, 58%);
  --ModerateCyan: hsl(170, 45%, 43%);
  --LightGrayishBlue: hsl(240, 75%, 98%);
  --LightGray: hsl(0, 0%, 75%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.container {
  display: grid;
}

/* nav */
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 3rem;
}
.nav-item {
  margin-right: 3rem;
}
.nav-item:first-child {
  margin-right: auto;
}
.nav-item a {
  text-decoration: none;
  color: var(--VeryDarkBlue);
  transition: all 200ms ease-in-out;
}
.nav-item a:hover {
  color: var(--BrightBlue);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (4, auto);
  grid-template-areas:
    "aa bb"
    "cc cc"
    "dd ee"
    "ff ff";
}
.sec1-text {
  grid-area: aa;
  align-self: center;
}
.sec1-img {
  grid-area: bb;
}
.bg-curve {
  grid-area: cc;
}
.sec2-text {
  grid-area: dd;
}
.sec2-img {
  grid-area: ee;
}
.sec3-text {
  grid-area: ff;
}

/* main sec1 */
.sec1-text h1 {
  color: var(--VeryDarkBlue);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 2.7rem;
  margin: 3rem 3rem 0rem 3rem;
}
.sec1-text p {
  color: var(--DesaturatedBlue);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3rem;
  margin: 1.5rem 3rem 0rem 3rem;
}
.sec1-img img,
.sec2-img img {
  width: auto;
  height: 25rem;
  margin: 3rem;
}
.sec1-form {
  display: flex;
  flex-direction: row;
  margin: 2rem 3rem 0rem 3rem;
}
.sec1-form input {
  height: 2rem;
  width: 16rem;
  margin-right: 0.5rem;
}
.sec1-form input:focus {
  outline-color: #ff0000;
}
.sec1-form button {
  background: var(--BrightBlue);
  color: var(--LightGrayishBlue);
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.2rem;
}
.sec1-form button:hover {
  background: hsl(224, 97%, 65%);
  cursor: pointer;
}

.bg-curve {
  background-image: url("images/bg-curve-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 5rem;
  width: 100%;
  margin-top: 5rem;
}
/* main sec2 */
.sec2-text {
  background: var(--LightGrayishBlue);
}
.sec2-text h1 {
  color: var(--VeryDarkBlue);
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem 3rem 0rem 3rem;
}
.sec2-text p {
  color: var(--DesaturatedBlue);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 2rem 3rem 2rem 3rem;
}
.arrow a {
  color: var(--ModerateCyan);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  align-items: center;
  margin: 0rem 3rem 0rem 3rem;
}
.arrow a:hover {
  color: hsl(182, 97%, 45%);
  cursor: pointer;
}
.sec2-img {
  background: var(--LightGrayishBlue);
}
.sec2-sub-text {
  background: #ffffff;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #808080;
  width: 22rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  margin: 3rem 3rem 4rem 3rem;
}
.sec2-sub-text p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin: 0;
}
.sec2-sub-img {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.sec2-sub-img img {
  width: 2rem;
  height: 2rem;
  border-radius: 50rem;
  margin-right: 0.5rem;
}
.sec2-sub-img h3 {
  font-size: 0.7rem;
  margin: 0;
}
.sec2-sub-img p {
  font-size: 0.6rem;
  margin: 0;
}

/* main sec3 */
.sec3-text {
  background: var(--DesaturatedBlue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  align-items: center;
}
.sec3-text h2 {
  font-size: 1.5rem;
  color: var(--LightGrayishBlue);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 4rem 3rem 1rem 3rem;
}
.sec3-text p {
  font-size: 1rem;
  color: var(--LightGrayishBlue);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  width: 30rem;
  margin: 0rem 3rem 4rem 3rem;
}
.sec3-form input {
  height: 2rem;
  width: 25rem;
  display: block;
}
.sec3-form input:focus {
  outline-color: #ff0000;
}
.sec3-form button {
  background: var(--BrightBlue);
  color: var(--LightGrayishBlue);
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}
.sec3-form button:hover {
  background: hsl(224, 97%, 65%);
  cursor: pointer;
}

/* footer */
footer {
  background: var(--VeryDarkBlue);
  color: var(--LightGrayishBlue);
  display: grid;
}
.footer-logo {
  margin: 4rem 3rem 1rem 3rem;
}
.filtersvg {
  filter: invert(100%);
}
.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 0 3rem 3rem 3rem;
}
.footer-nav img {
  margin-right: 1rem;
}
.footer-nav ul {
  list-style: none;
  margin-right: 10rem;
}
.footer-nav li {
  margin-bottom: 1rem;
}
.footer-nav a {
  color: var(--LightGrayishBlue);
  text-decoration: none;
}
.footer-nav a:hover {
  color: var(--BrightBlue);
  cursor: pointer;
}
.sosmed {
  display: flex;
}
.sosmed a {
  margin-right: 1rem;
  font-size: 2rem;
}

/* frontend mentor */
.attribution {
  font-size: 11px;
  text-align: center;
  background: var(--VeryDarkBlue);
  color: var(--LightGrayishBlue);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  .container {
    display: grid;
    align-items: center;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (7, auto);
    grid-template-areas:
      "bb"
      "aa"
      "cc"
      "ee"
      "dd"
      "ff"
      "gg";
  }
  .nav-list {
    margin: 2rem;
  }
  .nav-list img {
    width: auto;
    height: 2rem;
    margin: 0 auto;
  }

  .sec1-text {
    margin: 0 auto;
  }
  .sec1-text h1 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 2rem;
    font-size: 2.3rem;
  }
  .sec1-text p {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 2rem;
    font-size: 1.4rem;
  }
  .sec1-form {
    display: grid;
    text-align: center;
    margin: 0;
  }
  .sec1-form input {
    margin-top: 2rem;
    margin-right: 0;
    width: 30rem;
    height: 2.5rem;
  }
  .sec1-form button {
    width: 30rem;
    margin-top: 1rem;
    padding: 0.7rem 2rem;
  }

  .bg-curve {
    background-image: url("images/bg-curve-mobile.svg");
  }

  .sec2-text h1 {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    text-align: center;
  }
  .sec2-text p {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
  }
  .arrow {
    text-align: center;
    margin-bottom: 3rem;
  }
  .sec2-sub-text {
    width: 25rem;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .sec3-text {
    grid-template-columns: 1fr;
    align-items: center;
    place-items: center;
  }
  .sec3-text p {
    text-align: center;
    width: 25rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    line-height: 2rem;
    font-size: 1.2rem;
  }
  .sec3-form form {
    margin: 0rem 0rem 3rem 0rem;
    text-align: center;
  }
  .sec3-form input {
    width: 30rem;
    height: 2.5rem;
  }
  .sec3-form button {
    width: 30rem;
    margin-top: 1rem;
    padding: 0.7rem 2rem;
  }

  .footer-nav {
    grid-template-columns: auto;
    font-size: 1.5rem;
  }
  .footer-nav ul {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
  .sosmed {
    justify-content: center;
  }
  .sosmed a {
    font-size: 2rem;
  }
}
