* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 13px;
}
body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 6rem;
  display: grid;
  place-items: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira"
    "attribution attribution attribution attribution";
  gap: 2rem;
}
.testimoni {
  border-radius: 0.5rem;
  padding: 2rem;
}
.daniel {
  grid-area: daniel;
  background: url(images/bg-pattern-quotation.svg) no-repeat hsl(263, 55%, 52%);
  background-position: 80% 0%;
}
.jonathan {
  grid-area: jonathan;
  background-color: hsl(217, 19%, 35%);
}
.jeanette {
  grid-area: jeanette;
  background-color: hsl(0, 0%, 100%);
}
.patrick {
  grid-area: patrick;
  background-color: hsl(219, 29%, 14%);
}
.kira {
  grid-area: kira;
  background-color: hsl(0, 0%, 100%);
}
.attribution {
  grid-area: attribution;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: hsl(228, 45%, 44%);
}
img {
  height: 2.5rem;
  width: 2.5rem;
}
.header {
  display: flex;
}
.m-picture {
  border: 0.2rem solid hsl(263, 55%, 60%);
  border-radius: 50rem;
}
.f-picture {
  border: 0.2rem solid hsl(210, 46%, 95%);
  border-radius: 50rem;
}
.name {
  padding-left: 1rem;
}
.m-names {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(0, 0%, 81%);
}
.m-graduate {
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(0, 0%, 70%);
}
.f-names {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(217, 19%, 35%);
}
.f-graduate {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(217, 19%, 50%);
}
.m-head {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding-top: 1rem;
  color: hsl(0, 0%, 81%);
}
.m-quotes {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-top: 1rem;
  color: hsl(0, 0%, 70%);
}
.f-head {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding-top: 1rem;
  color: hsl(217, 19%, 35%);
}
.f-quotes {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-top: 1rem;
  color: hsl(217, 19%, 50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(219, 29%, 14%);
  text-decoration: underline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 575px) {
   body {
    padding: 2rem 4rem;
  }
  .container {
    grid-template-areas:
      "daniel"
      "jonathan"
      "jeanette"
      "patrick"
      "kira"
      "attribution";
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
  }
  .daniel {
    grid-area: daniel;
  }
  .jonathan {
    grid-area: jonathan;
  }
  .jeanette {
    grid-area: jeanette;
  }
  .patrick {
    grid-area: patrick;
  }
  .kira {
    grid-area: kira;
  }
  .attribution {
    grid-area: attribution;
  }
}
